Hospital Management System/Try/Try/Service References/TaxService/Tax.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="taxCalculator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="money" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="taxCalculatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taxCalculatorResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>