Hospital Management System/WcfService12/WcfService12/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Validation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="htmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="htmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>